<section class="about-section">
  <div class="about-name">We are the Jungle store</div>
  <div class="about-text">
  <p>Lorem ipsum dolor sit amet, atqui qualisque posidonium ut pri. Pri ex regione ancillae scriptorem. No consulatu inciderint qui, ne his laoreet perfecto efficiendi. His et vidit delenit, ad sit probo convenire aliquando. An partem aeterno expetendis mel, an vix moderatius repudiandae, ius et velit graecis.
  </p>
  <p>
In ius mazim everti prompta, et quis dico deterruisset sit. Ea ius iracundia tincidunt, mea option fabulas ad. Ex sed modo doctus albucius. Indoctum accusamus pro at, ad vel ferri erroribus. Ei qui diam vivendum, docendi accumsan eleifend has in, ad nam vidit erant dicant.
  </p>
  <p>
Errem choro ocurreret eam an, ne atqui verterem hendrerit mea. Mel et vide appetere senserit, cum insolens efficiantur vituperatoribus cu. Everti partiendo cu sed, no eum errem simul, ad lorem argumentum percipitur sit. Erat deleniti usu ne, et vis enim euripidis. Ne mea probo omnes, sea sumo diam assum id.
  </p>
  <p>
His tota volutpat incorrupte ea, in consul nominati nam, mei viderer denique no. Mel dolores vivendum ne, ei persius dolores intellegebat nam. Eum choro atomorum ei, mel dicat aliquando scriptorem ei. Per an facete sapientem. Ut quo regione graecis delectus, ut tollit insolens mel. Nec mazim tibique accusam ea, malorum prompta numquam cu nam, quando vidisse fuisset sea ex. Exerci ceteros ne sea.
  </p>
  <p>
Assum ornatus no duo, pro unum discere evertitur at, te vel liber aliquam antiopam. Et pri mutat facer imperdiet, tamquam diceret quaestio nec et, ei quo harum scribentur eloquentiam. Cum ea brute paulo euripidis, ipsum officiis placerat et mei, porro lorem ut sed. Ne libris graeci laboramus ius, te vel essent molestie.
</p>
  </div>
</section>